/* Theme */

body {
	/* background: #006818; */
	/* background: #005714; */
	background: white;
	color: black;
	/* color: #FFFFFF; */
}

.bg-primary {
	/* Green! */
	background-color: #005714 !important;
	color: white;
}

.icons-social a {
	color: #FFFFFF;
}

.icons-social a svg path{
	fill: #FFFFFF;
}

/* Overwrite link coloration for cards */
a:link {
	color: #0000FF; /* Blue */
}

a:visited {
	color: #005714; /* Green */
}

a:hover {
	/* Purple */
	/* color: #8100A8; */
	color: #007e1d;
}

a:active {
	/* Kinda Pink */
	color: #7C267E;
}

.card {
	background-color: white;
}

.card-body {
	color: black;
}

.button {
	font-size: 16px;
	text-decoration: none;
	background-color: #EDEDED;
	color: #333333;
	padding: 2px 6px 2px 6px;
	border-top: 1px solid #333333;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #333333;
	border-radius: 5px;
}
